header h1 {
  font-family: 'lobster', cursive;
  font-size: 4em;
  text-align: center;
}

article{

  max-width: 840px;
  margin-left: 20em;
  margin-right: 20em;
  color: #ffff;
}



img{
  width: 100%
}

body{
	background: #000000 ;

}
